/* Header classes*/
.logo {
    float: left;
    margin-left: 138px;
}
.navigation {
    float: left;
    margin-left: 138px;
}
.nav-li {
    float: left;
    margin-right: 20px;
    margin-top: 49px;
    color: #181C28;
    font-family: 'Poppins', sans-serif;
}
.text-image {
    position: absolute;
    top: 105px;
    left: 600px;
    font-size: 22px;
    color: white;
}
.text-image-2 {
    position: absolute;
    top: 125px;
    left: 640px;
    font-size: 48px;
    color: white;
}
.image-wrapper {
    position: relative;
}
.image-wrapper img {
    width: 100%;
    margin-bottom: 84px;
}

/*BASE CLASSES*/
.container {
    width: 1324px;
    margin: 0 auto;
}
.container h2 {
    margin-bottom: 81px;
    color: #FF7A00;
    font-family: 'Poppins', sans-serif;
}
.line-1 {
    margin-bottom: 57px;
}
.f-lef {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
}
.left-block {
    width: 636px;
    background-color: #FFFFFF;
}
.left-block p {
    margin-bottom: 13px;
    font-size: 16px;
    color: #7B7B7B;
    font-family: 'Poppins', sans-serif;
}
.left-block h3 {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 36px;
    color: #181C28;
    font-family: 'Playfair Display SC', sans-serif;
}
.right-block p {
    margin-bottom: 13px;
    font-size: 16px;
    color: #7B7B7B;
    font-family: 'Poppins', sans-serif;
}
.right-block h3 {
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 36px;
    color: #181C28;
    font-family: 'Playfair Display SC', sans-serif;
}
.read {
    font-size: 14px;
    color: #FF7A00;
    margin-top: 13px;
    font-family: 'Poppins', sans-serif;
}
.line-horizontal {
    display: inline-block;
    width: 47px;
    height: 4px;
    background-color: #FF7A00;
    margin-left: 18px;
}
.right-block {
    width: 636px;
    background-color: #FFFFFF;
}
.box {
    width: 194px;
    height: 70px;
    background:#FF7A00;
    margin-top: 66px;
    margin-left: 550px;
}
.more {
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 24px;
}
.black-box {
    width: 100%;
    height: 266px;
    background-color: #181C28;
    margin-top: 134px;
}
/*FOOTER*/
.footer-div {
    margin-top: 82px;
}
.block-1 {
    margin-right: 198px;
}
.block-2 {
    margin-right: 200px;
}
.block-3 {
    margin-right: 217px;
}

h3 {
    margin-top: 82px;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color:#282828
}
li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #7B7B7B;
    font-family: 'Poppins', sans-serif;
}
.copuright {
    margin-top: 168px;
    font-size: 16px;
    color: #7B7B7B;
    font-family: 'Poppins', sans-serif;
}


.block-images {
    float: right;
}

.image-amex
{
    vertical-align: middle;
}